/** @format */

:root {
  // text
  --text-primary-inverted: #ffffff;
  --text-primary-colour: #161f2d;
  --text-secondary-colour: #525b60;
  --text-tertiary-colour: #7f8487;
  --text-black-colour: #000000;
  --text-color-text-primary: #232832;

  // Text hover

  --text-color-text-primary-hover: #161f2d;

  // Brand
  --brand-primary-colour: #1929b9;
  --brand-primary-hover-colour: #16228d;
  --brand-secondary-colour: #d21062;

  // BG
  --bg-primary-colour: #ffffff;
  --bg-secondary-colour: #f2f3f6;
  --bg-dark-transparent-colour: #00000080;
  --bg-green-colour: #9cff4f;
  --bg-gray-sidebar-checkbox-colour: #d3d6db;

  // BG Button
  --bg-brown-color: #efd592;
  --bg-green-color: #bbef92;
  --bg-blue-color: #9fd7ff;
  --bg-pink-color: #ffbaf0;

  // Icons
  --icons-primary-colour: #161f2d;
  --icons-secondary-colour: #848e94;
  --icons-brand-primary-colour: #1929b9;
  --icons-primary-inverted-colour: #ffffff;
  --icons-brand-secondary-colour: #d21061;
  --icons-home-colour: #a7acb7;
  --color-icon-primary: #242a38;

  // Border lines
  --primary-borderline-colour: #edebef;
  --border-line-color: #efefef;

  // Links
  --link-primary-colour: #1929b9;
  --link-secondary-colour: #161f2d;
  --link-tertiary-colour: #525b60;

  // Links hover
  --link-primary-hover-colour: #4053ff;
  --link-secondary-hover-colour: #525b60;
  --link-tertiary-hover-colour: #788085;

  // System
  --error-colour: #fe6767;
  --warning-colour: #eccc27;
  --success-colour: #10c76f;
  --color-system-error: #ee505a;

  --error-dimmed-colour: #ffcccc;
  --warning-dimmed-colour: #f4e285;
  --success-dimmed-colour: #afefd0;

  // Input

  --input-color-input-border-normal: #e9ebed;
  --input-color-input-bg-normal: #f7f7f8;

  // Text-inputfield-material-style

  --input-color-input-bg-normal: #f7f7f8;
  --input-color-input-border-normal: #e9ebed;

  --input-color-input-bg-active: #fff;
  --input-color-input-border-active: #d3d6db;

  --input-color-input-border-normal: #e9ebed;
  --input-color-input-bg-filled: #f7f7f8;

  --input-color-input-bg-disabled: #e9ebed;

  --system-color-system-error: #ee505a;
  --input-color-input-bg-normal: #f7f7f8;

  --system-color-system-error: #ee505a;
  --input-color-input-bg-filled: #f7f7f8;

  // Checkboxes

  --input-color-input-border-active: #d3d6db;
  --input-color-input-bg-normal: #f7f7f8;

  --neutral-100: #7a8393;
  --input-color-input-bg-normal: #f7f7f8;

  --brand-brand-primary-colour: #1929b9;

  --neutral-100: #7a8393;
  --brand-brand-primary-colour: #1929b9;

  --system-color-system-error: #ee505a;
  --system-color-system-error-dimmed: #fcdcde;

  --neutral-20: rgba(211, 214, 219, 1);

  // Pagination

  --pagination-color-circle: #667a99;
}
